*{
    font-family: Orbitron;
    box-sizing: border-box;
}
.mainWindow{
    border: 1px solid black;
    border-radius: 3px;
    width: 600px;
    height: 580px;
}
.windowHeader{
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid black;
}
p{
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: black;
    text-align: center;
}
.chatWindow{
    height: 520px;
    border-bottom: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}
[type="submit"]{
    cursor: pointer;
    width: 100px;
    padding-left: 5px;
    position: relative;
    top: -2px;    
}
[type="text"]{
    width: 490px;
    padding-left: 2px;
    padding-top: 5px;
}
#result{
    list-style-type: circle;
}