*{
    font-family: Orbitron;
    box-sizing: border-box;
}
.mainWindow{
    margin: auto;
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 3px;
    width: 600px;
    height: 594px;
}
.windowHeader{
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid black;
}
p{
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: black;
    text-align: center;
}
.chatWindow{
    height: 520px;
    border-bottom: 2px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}
input[type="submit"]{
    cursor: pointer;
    width: 131px;
    height: 25px;
}
input[type="text"]{
    width: 450px;
    height: 28px;
}
#result{
    list-style-type: circle;
}
#chatMessage{
    padding: 5px;
}
#nickDiv{
    background-color: white;
    opacity:0.8;
    position:fixed;
    width:100%;
    height:100%;
    top: 0%;
    left:0px;
    z-index:1000;
}
#nick{
    position: relative;
    top: 23%;
    left: 30%;
    width: 500px;
    height: 500px;
}
#nickname{
    margin: 50px;
    width: 200px;
}